.App {
  /* height: 100vh; */
  background-image: url('/public/images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  background-color: hsl(257, 40%, 49%);
  z-index: 0;
  position: relative;
}

.container{
  height: 100vh;
  margin-left: 2vw;
  /* margin-right: 4vw; */
  /* display: flex; */
  /* flex-direction: column; */
}

.logo-component{
  /* border: 2px dashed green; */
  height: 6vh;
  width: 10vw;
}

.desktop-component{
  margin-top: 9vh;
  height: 75vh;
  width: 50vw;
  position: absolute;
  z-index: 1;
}

.mobile-component{
  /* border: 2px groove salmon; */
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 7px 6px rgba(0, 0, 0, 0.15);
  height: 59vh;
  left: 40vw;
  top: 30%;
  width: 17vw;
  position: absolute;
  z-index: 2;
}

.text-component{
  /* border: 2px dashed orange; */
  /* margin-left: 20px; */
  font-size: 20px;
  height: 75vh;
  float: right;
  width: 38vw;
}

.socialmedia-component{
  /* border: 2px solid brown; */
  height: 13vh;
  position: absolute;
  top: 86vh;
  width: 95vw;
}