.mobile-container{ 
    /* border: 2px solid red; */
    height: 100%;
    border-radius: inherit;
    
}
.mobile-container_blackbar{
    background-color: black;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 8%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-header-searchbar{
    border-radius: 20px;
    background-color: gray;
    height: 40%;
    width: 35%;
    
}

.mobile-hamburger{
    border: 2px solid red;
    height: 40%;
    width: 8%;
}

.mobile-body{
    height: 92%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.mobile-body .avatar-reactions-container{
    display: none;
}

.mobile-body .avatar-container{
    /* border: 2px solid red; */
    align-items: center;
    margin-left: 0%;
    padding-right: 1%;
    width: 25%;
}

.mobile-body .avatar-text-container{
    /* border: 2px solid green; */
    width: 75%;
}

.mobile-body .avatar{
    width: 80%;
    height: 12%;
}

.mobile-body .filler-text-container{
    justify-content: center;
}

.mobile-body .filler-text{
    height: 5%;
}